body{
    color: #e2b714;
    background-color: #323437;
    Font-family: monospace;
    text-align: center;
}
header{
    border-bottom: #e2b714;
}
div{
    background-color: aqua;
    height: 75px;
    width: 75px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}
img{
    background-color: #e2b714;
    height: 50px;
    width: auto;
    margin-top: 15%;
}
hr{
    border-color: #e2b714;
}
table.table1{
    margin: auto;
    text-align: left;
}
table.keyboard{
    text-align: center;
    border-collapse: collapse;
    margin: 20px auto;
    border: 2px solid #ffcc00;
    border-collapse: separate;
    border-spacing: 2px; 
    width: 80%;
    height: 10%;
}
td.keyboard{
    border: 2px solid;
}
td.special{
    border:2px solid aqua;
}
td.special1{
    border:2px solid aqua;
    text-align: left;
}
td.special2{
    border:2px solid aqua;
    text-align: right;
}

th {
    border:2px solid aqua;
    height: 50px;
    font-weight: bold;
}
span{
    font-weight: bold;
    text-decoration: underline white;
}
.p1{
    text-align: right;
}
.p2{
    text-align: left;
}
.p3{
    text-decoration: overline 1px ;
    font-style: oblique;
}
.input2{
    width: 300px;
    height: 30px;
}
.special{
    color: aqua;
    text-decoration: none;
    font-weight: normal;
}
